{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">About Page</h3>
        <p>python is a high level programming language supporting object oriented programmin.
            this is a miniblog project that i created as a part of my learning.
        </p>you also can write blog or message as a blog to me here on this website first
        you have to sign up and fill the details and then you can login using your username
        and password after that you can see dashboard page on the interface 
        there you go and go to addpost and simply click to submit now you can see that 
        msg on the main home page.
        <p>              hey!! You made it..</p>
    </div>

{% endblock content %}